xmandxsd/music_xsd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- PHẦN TỬ GỐC -->
  <xs:element name="danhsach_nguoidung">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nguoidung" type="LoaiNguoiDung" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

    <!-- KHÓA CHÍNH -->
    <xs:key name="KhoaChinh_NguoiDung">
      <xs:selector xpath="nguoidung"/>
      <xs:field xpath="@nguoidung_id"/>
    </xs:key>

    <xs:key name="KhoaChinh_DanhSachPhat">
      <xs:selector xpath="nguoidung/danhsachphat"/>
      <xs:field xpath="@danhsach_id"/>
    </xs:key>

    <xs:key name="KhoaChinh_BaiHat">
      <xs:selector xpath="nguoidung/danhsachphat/danhsach_baihat/baihat"/>
      <xs:field xpath="@baihat_id"/>
    </xs:key>

    <xs:key name="KhoaChinh_Album">
      <xs:selector xpath="nguoidung/danhsachphat/danhsach_baihat/baihat/album"/>
      <xs:field xpath="@album_id"/>
    </xs:key>

    <xs:key name="KhoaChinh_NgheSi">
      <xs:selector xpath="nguoidung/danhsachphat/danhsach_baihat/baihat/nghesi"/>
      <xs:field xpath="@nghesi_id"/>
    </xs:key>

    <xs:key name="KhoaChinh_TheLoai">
      <xs:selector xpath="nguoidung/danhsachphat/danhsach_baihat/baihat/theloai"/>
      <xs:field xpath="@theloai_id"/>
    </xs:key>

    <!-- KHÓA NGOẠI -->
    <xs:keyref name="KhoaNgoai_DanhSachPhat_NguoiDung" refer="KhoaChinh_NguoiDung">
      <xs:selector xpath="nguoidung/danhsachphat"/>
      <xs:field xpath="@nguoidung_ref"/>
    </xs:keyref>

    <xs:keyref name="KhoaNgoai_DanhSachBaiHat_DanhSachPhat" refer="KhoaChinh_DanhSachPhat">
      <xs:selector xpath="nguoidung/danhsachphat/danhsach_baihat"/>
      <xs:field xpath="@danhsach_ref"/>
    </xs:keyref>

    <xs:keyref name="KhoaNgoai_BaiHat_Album" refer="KhoaChinh_Album">
      <xs:selector xpath="nguoidung/danhsachphat/danhsach_baihat/baihat"/>
      <xs:field xpath="@album_ref"/>
    </xs:keyref>

    <xs:keyref name="KhoaNgoai_BaiHat_NgheSi" refer="KhoaChinh_NgheSi">
      <xs:selector xpath="nguoidung/danhsachphat/danhsach_baihat/baihat"/>
      <xs:field xpath="@nghesi_ref"/>
    </xs:keyref>

    <xs:keyref name="KhoaNgoai_BaiHat_TheLoai" refer="KhoaChinh_TheLoai">
      <xs:selector xpath="nguoidung/danhsachphat/danhsach_baihat/baihat"/>
      <xs:field xpath="@theloai_ref"/>
    </xs:keyref>
  </xs:element>

  <!-- NGƯỜI DÙNG -->
  <xs:complexType name="LoaiNguoiDung">
    <xs:sequence>
      <xs:element name="tendangnhap" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="matkhau" type="xs:string"/>
      <xs:element name="ngay_tao" type="xs:date"/>
      <xs:element name="danhsachphat" type="LoaiDanhSachPhat" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="nguoidung_id" type="xs:integer" use="required"/>
  </xs:complexType>

  <!-- DANH SÁCH PHÁT -->
  <xs:complexType name="LoaiDanhSachPhat">
    <xs:sequence>
      <xs:element name="ten_danh_sach" type="xs:string"/>
      <xs:element name="ngay_tao" type="xs:date"/>
      <xs:element name="danhsach_baihat" type="LoaiDanhSachBaiHat" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="danhsach_id" type="xs:integer" use="required"/>
    <xs:attribute name="nguoidung_ref" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- DANH SÁCH BÀI HÁT -->
  <xs:complexType name="LoaiDanhSachBaiHat">
    <xs:sequence>
      <xs:element name="baihat" type="LoaiBaiHat"/>
    </xs:sequence>
    <xs:attribute name="ds_bai_hat" type="xs:integer" use="required"/>
    <xs:attribute name="thu_tu" type="xs:integer" use="required"/>
    <xs:attribute name="ngay_them" type="xs:date" use="required"/>
    <xs:attribute name="danhsach_ref" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- BÀI HÁT -->
  <xs:complexType name="LoaiBaiHat">
    <xs:sequence>
      <xs:element name="tieu_de" type="xs:string"/>
      <xs:element name="thoi_luong" type="xs:integer"/>
      <xs:element name="ngay_phat_hanh" type="xs:date"/>
      <xs:element name="duong_dan_file" type="xs:string"/>
      <xs:element name="album" type="LoaiAlbum"/>
      <xs:element name="nghesi" type="LoaiNgheSi"/>
      <xs:element name="theloai" type="LoaiTheLoai"/>
    </xs:sequence>
    <xs:attribute name="baihat_id" type="xs:integer" use="required"/>
    <xs:attribute name="album_ref" type="xs:integer" use="optional"/>
    <xs:attribute name="nghesi_ref" type="xs:integer" use="optional"/>
    <xs:attribute name="theloai_ref" type="xs:integer" use="optional"/>
  </xs:complexType>

  <!-- ALBUM -->
  <xs:complexType name="LoaiAlbum">
    <xs:sequence>
      <xs:element name="ten_album" type="xs:string"/>
      <xs:element name="ngay_phat_hanh" type="xs:date"/>
      <xs:element name="anh_bia" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="album_id" type="xs:integer" use="required"/>
  </xs:complexType>

  <!-- NGHỆ SĨ -->
  <xs:complexType name="LoaiNgheSi">
    <xs:sequence>
      <xs:element name="ten_nghesi" type="xs:string"/>
      <xs:element name="tieu_su" type="xs:string"/>
      <xs:element name="quoc_gia" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="nghesi_id" type="xs:integer" use="required"/>
  </xs:complexType>

  <!-- THỂ LOẠI -->
  <xs:complexType name="LoaiTheLoai">
    <xs:sequence>
      <xs:element name="ten_theloai" type="xs:string"/>
      <xs:element name="mo_ta" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="theloai_id" type="xs:integer" use="required"/>
  </xs:complexType>

</xs:schema>
